<h1>Flight Controllers</h1>

<div class="row">
    <div class="col-sm-12">
        <div id="imaginary_container"> 
            <div class="input-group stylish-input-group">
                <input type="text" class="form-control"  placeholder="Search" >
                <span class="input-group-addon">
                    <button type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>  
                </span>
            </div>
        </div>
    </div>
</div>
<br>

<a [routerLink]="['/create/flight-controller']">
    <span class='glyphicon glyphicon-plus'></span> Create Flight Controller
</a>
<br>
<br>

<p *ngIf="!flightControllers"><em>Loading...</em></p>

<table class='table' *ngIf="flightControllers">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr class='item' *ngFor="let flightController of flightControllers">
            <td><a [routerLink]="['/flight-controller', flightController.id]">{{ flightController.id }}</a></td>
            <td>{{ flightController.name }}</td>
        </tr>
    </tbody>
</table>
