<h1>Edit Battery</h1>

<div>
    <a [routerLink]="['/battery', id]">
        <span class='glyphicon glyphicon-chevron-left'></span> Back
    </a>
    <br>
    <br>
</div>

<div *ngIf="flightController">
    <form>
        <div class="form-group">
            <label>ID</label>
            <input class="form-control" name="id" value="{{ flightController.id }}" disabled>
        </div>
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" name="name" [(ngModel)]="flightController.name">
        </div>
        <div class="form-group">
            <label>MCU</label>
            <input class="form-control" name="mcu" [(ngModel)]="flightController.mcu">
        </div>
        <div class="form-group">
            <label>Gyro Name</label>
            <input class="form-control" name="gyroName" [(ngModel)]="flightController.gyroName">
        </div>
        <div class="form-group">
            <label>OSD</label>
            <input class="form-control" name="osd" [(ngModel)]="flightController.osd">
        </div>
        <div class="form-group">
            <label>Lipo Voltage</label>
            <input class="form-control" name="lipoVoltage" [(ngModel)]="flightController.lipoVoltage">
        </div>
        <div class="form-group">
            <label>SD Card</label>
            <input class="form-control" name="sdCard" [(ngModel)]="flightController.sdCard">
        </div>
        <div class="form-group">
            <label>Weight</label>
            <input class="form-control" name="weight" [(ngModel)]="flightController.weight">
        </div>
        <div class="form-group">
            <label>Number Of UARTS</label>
            <input class="form-control" name="numberUarts" [(ngModel)]="flightController.numberUarts">
        </div>
        <div class="form-group">
            <label>Barometer</label>
            <input class="form-control" name="barometer" [(ngModel)]="flightController.barometer">
        </div>
        <div class="form-group">
            <label>PWM</label>
            <input class="form-control" name="pwm" [(ngModel)]="flightController.pwm">
        </div>
        <div class="form-group">
            <label>SBus</label>
            <input class="form-control" name="sbus" [(ngModel)]="flightController.sbus">
        </div>
        <div class="form-group">
            <label>DSM Two</label>
            <input class="form-control" name="dsmTwo" [(ngModel)]="flightController.dsmTwo">
        </div>
        <div class="form-group">
            <label>LED Strip</label>
            <input class="form-control" name="ledStrip" [(ngModel)]="flightController.ledStrip">
        </div>
        <div class="form-group">
            <label>Video In</label>
            <input class="form-control" name="videoIn" [(ngModel)]="flightController.videoIn">
        </div>
        <div class="form-group">
            <label>Video Out</label>
            <input class="form-control" name="videoOut" [(ngModel)]="flightController.videoOut">
        </div>
        <div class="form-group">
            <label>Buzzer</label>
            <input class="form-control" name="buzzer" [(ngModel)]="flightController.buzzer">
        </div>
        <div class="form-group">
            <label>Number Of Soft Serials</label>
            <input class="form-control" name="numberSoftSerials" [(ngModel)]="flightController.numberSoftSerials">
        </div>
    </form>
</div>

<div>
    <span style="float:right;">
        <button (click)="update()" type="button" class="btn btn-primary">Update</button>
    </span>
</div>