<h1>Batteries</h1>

<a [routerLink]="['/battery/create']">
    <span class='glyphicon glyphicon-plus'></span> Create Battery
</a>
<br>
<br>

<p *ngIf="!batteries"><em>Loading...</em></p>

<table class='table' *ngIf="batteries">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr class='item' *ngFor="let battery of batteries">
            <td><a [routerLink]="['/battery', battery.id]">{{ battery.id }}</a></td>
            <td>{{ battery.name }}</td>
        </tr>
    </tbody>
</table>
