<h1>Batteries</h1>

<a [routerLink]="['/create/battery']">
    <span class='glyphicon glyphicon-plus'></span> Create Battery
</a>
<br>
<br>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div id="imaginary_container"> 
            <div class="input-group stylish-input-group">
                <input type="text" class="form-control"  placeholder="Search" >
                <span class="input-group-addon">
                    <button type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>  
                </span>
            </div>
        </div>
    </div>
</div>
<br>
<br>

<p *ngIf="!batteries"><em>Loading...</em></p>

<table class='table' *ngIf="batteries">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr class='item' *ngFor="let battery of batteries">
            <td><a [routerLink]="['/battery', battery.id]">{{ battery.id }}</a></td>
            <td>{{ battery.name }}</td>
        </tr>
    </tbody>
</table>
