<h1>Create Flight Controller</h1>

<div>
    <a [routerLink]="['/flight-controllers']">
        <span class='glyphicon glyphicon-chevron-left'></span> Back
    </a>
    <br>
    <br>
</div>

<form>
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" name="name" [(ngModel)]="name">
    </div>
    <div class="form-group">
        <label>MCU</label>
        <input class="form-control" name="mcu" [(ngModel)]="mcu">
    </div>
    <div class="form-group">
        <label>Gryo Name</label>
        <input class="form-control" name="gyroName" [(ngModel)]="gyroName">
    </div>
    <div class="form-group">
        <label>OSD</label>
        <input class="form-control" name="osd" [(ngModel)]="osd">
    </div>
    <div class="form-group">
        <label>OSD Name</label>
        <input class="form-control" name="osdName" [(ngModel)]="osdName">
    </div>
    <div class="form-group">
        <label>PDB</label>
        <input class="form-control" name="pdb" [(ngModel)]="pdb">
    </div>
    <div class="form-group">
        <label>Lipo Voltage</label>
        <input class="form-control" name="lipoVoltage" [(ngModel)]="lipoVoltage">
    </div>
    <div class="form-group">
        <label>SDCard</label>
        <input class="form-control" name="sdCard" [(ngModel)]="sdCard">
    </div>
    <div class="form-group">
        <label>Weight</label>
        <input class="form-control" name="weight" [(ngModel)]="weight">
    </div>
    <div class="form-group">
        <label>Number UARTS</label>
        <input class="form-control" name="numberUarts" [(ngModel)]="numberUarts">
    </div>
    <div class="form-group">
        <label>Barometer</label>
        <input class="form-control" name="barometer" [(ngModel)]="barometer">
    </div>
    <div class="form-group">
        <label>PWM</label>
        <input class="form-control" name="pwm" [(ngModel)]="pwm">
    </div>
    <div class="form-group">
        <label>SBus</label>
        <input class="form-control" name="sbus" [(ngModel)]="sbus">
    </div>
    <div class="form-group">
        <label>DSM Two</label>
        <input class="form-control" name="dsmTwo" [(ngModel)]="dsmTwo">
    </div>
    <div class="form-group">
        <label>LED Strip</label>
        <input class="form-control" name="ledStrip" [(ngModel)]="ledStrip">
    </div>
    <div class="form-group">
        <label>Video In</label>
        <input class="form-control" name="videoIn" [(ngModel)]="videoIn">
    </div>
    <div class="form-group">
        <label>Video Out</label>
        <input class="form-control" name="videoOut" [(ngModel)]="videoOut">
    </div>
    <div class="form-group">
        <label>Buzzer</label>
        <input class="form-control" name="buzzer" [(ngModel)]="buzzer">
    </div>
    <div class="form-group">
        <label>Number Soft Serials</label>
        <input class="form-control" name="numberSoftSerials" [(ngModel)]="numberSoftSerials">
    </div>
</form>

<div>
    <span style="float:right;">
        <button (click)="create()" type="button" class="btn btn-primary">Create</button>
    </span>
</div>