<h1>QCWAPI</h1>
<h4>Quadcopter Workbench API</h4>
<h5>An API to look up the components that are used to build quadcopters</h5>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">http://qcwapi.com/</span>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Request</button>
            </span>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label>Result:</label>
            <textarea style="resize: none;" class="form-control" rows="10"></textarea>
        </div>
    </div>
</div>